* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 1140px;
    max-width: 100%;
}

/**
 * Navbar
 */

.navbar {
    background-color: #fff;
    height: 5em;
}

.navbar-brand {
    display: inline-block;
    height: 5em;
    padding: 1em;
    box-sizing: border-box;
}

.navbar-brand-img {
    height: 3em;
}

@media screen and (max-width: 1140px) {
    .navbar {
        font-size: .85em;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        font-size: .7em;
    }
}

/**
 * Banner
 */

.banner {
    position: relative;
}

.banner-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.banner-body {
    padding-top: 6.6em;
}

.banner-container img {
    display: block;
    width: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 1140px) {
    .banner-bg {
        display: none;
    }

    .banner-body {
        padding-top: 0;
    }

    .banner-container img {
        border-radius: initial;
    }
}

/**
 * About us
 */

.about-us {
    margin: 5em auto;
    text-align: center;
}

.content h2 {
    font-size: 1.75em;
    letter-spacing: .4em;
    margin-left: .4em;
}

.content h3 {
    font-size: 1em;
    line-height: 2em;
    letter-spacing: .18em;
}

.content section {
    margin-top: 1.6em;
}

.content p {
    font-size: 1em;
    line-height: 2.75em;
    letter-spacing: .1em;
}

/**
 * Project
 */

.project {
    margin: 4.5em auto;
}

.project h2 {
    margin: 0 auto;
    width: 12em;
    height: 4em;
    color: #4c4c4c;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 4em;
    border: 4px solid #4c4c4c;
    border-radius: .6em;
}

.project-body {
    margin: 9.4em auto;
}

.product-list {
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.project-item {
    display: inline-block;
    font-size: 1rem;
    vertical-align: bottom;
}

.project-item-wrapper {
    height: 22em;
    margin: 1em;
    overflow: hidden;
}

.project-item.scale img {
    height: 100%;
    background-color: #fff;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.project-item.scale img:hover {
    transform: scale(1.15, 1.15);
}

@media screen and (max-width: 1140px) {
    .project-item.static {
        display: none;
    }

    .project-item {
        width: 50%;
    }

    .project-item-wrapper {
        display: inline-block;
        margin: 0 0 2.5%;
        width: 95%;
        height: auto;
        overflow: hidden;
    }

    .project-item.scale img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 640px) {
    .project-item {
        width: 100%;
    }
}

/**
 * our team
 */

.our-team {
    margin: 5em auto;
    text-align: center;
}

/**
 * our team body
 */

.our-team-body {
    margin-top: 6em;
    padding-bottom: 4em;
    background-color: #2c4459;
}

/**
 * our team nav
 */

.our-team-nav {
    position: relative;
    z-index: 2;
}

.our-team-group-list {
    text-align: center;
    font-size: 0;
}

.our-team-group {
    display: inline-block;
    margin: 0 1.5em;
    width: 14em;
    height: 4em;
    font-size: 1rem;
    overflow: visible;
    vertical-align: top;
}

.our-team-group-wrapper {
    background-color: #f3f3f3;
    border-radius: 0 0 1em 1em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.our-team-group-button {
    display: inline-block;
    height: 4em;
    line-height: 4em;
}

.our-team-group-button-text {
    color: #000e1a;
    letter-spacing: .2em;
    font-size: 1.25em;
}

.our-team-department-list {
    display: none;
    background-color: #e9e9e9;
}

.our-team-group:hover .our-team-department-list {
    display: block;
}

.our-team-department {
    height: 3.7em;
    box-sizing: border-box;
    line-height: 3.7em;
    text-align: center;
}

.our-team-department-button {
    display: inline-block;
    width: 6.6em;
    background: no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    vertical-align: middle;
}

@media screen and (max-width: 1140px) {
    .our-team-group {
        width: 18%;
        margin: 0 2%;
    }

    .our-team-department-button {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
    }
}

@media screen and (max-width: 640px) {
    .our-team-group {
        width: 22%;
        height: 3em;
        margin: 0 1%;
    }

    .our-team-group-wrapper {
        border-radius: 0 0 .5em .5em;
    }

    .our-team-group-button {
        height: 3em;
        line-height: 3em;
    }

    .our-team-group-button span {
        letter-spacing: inherit;
        font-size: inherit;
    }

    .our-team-department {
        height: 2.7em;
        line-height: 2.7em;
        margin: 0 -100%;
    }

    .our-team-department-button {
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
    }
}

.our-team-department:hover {
    background-color: #fff;
}

/**
 * our team introduction
 */

.our-team-introduction {
    margin: 6em auto 4em;
    overflow: hidden;
}

.our-team-introduction-container {
    margin: 0 auto;
    width: 72em;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 640px) {
    .our-team-introduction {
        margin: 3em auto 2em;
    }
}

/**
 * our team control
 */

.our-team-control {
    margin-top: 4em;
}

.our-team-name-container {
    height: 6em;
    background: url(../images/department/name-bg.png) no-repeat center;
    background-size: contain;
    line-height: 6em;
}

.our-team-name {
    display: inline-block;
    height: 1.8em;
    vertical-align: middle;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.our-team-arrow-container {
    position: relative;
    margin: -6em auto 0;
    width: 780px;
    height: 6em;
    max-width: 90%;
}

.our-team-arrow {
    position: absolute;
    top: 0;
    height: 100%;
}

.our-team-arrow.left {
    left: 0;
}

.our-team-arrow.right {
    right: 0;
}

@media screen and (max-width: 870px) {
    .our-team-control {
        font-size: .8em;
    }

    .our-team-name {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@media screen and (max-width: 640px) {
    .our-team-control {
        font-size: .5em;
    }

    .our-team-name {
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        transform: initial;
    }
}

/**
 * presence
 */

.presence {
    margin: 5em auto;
    text-align: center;
}

.presence-img-wrapper {
    margin: 5em auto;
    width: 100%;
}

.presence-img-wrapper img {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .presence-img-wrapper {
        margin: 2em auto;
    }
}

/**
 * join us
 */

.join-us {
    margin: 5em auto;
}

.join-us-button {
    display: block;
    margin: 0 auto;
    width: 12em;
    height: 4em;
    color: #fff;
    background-color: #008aff;
    border-radius: .6em;
    line-height: 4em;
    text-align: center;
}

.join-us-button:hover {
    text-decoration: underline;
}

/**
 * eeyes common footer
 */

.eeyes-common-footer {
    margin-top: 6em;
}
